<div *ngIf="loading" class="d-flex justify-content-center">
    <app-loading></app-loading>
</div>
<div class="card-columns puntero mt-5" *ngIf="!loading">
    <div class="card" (click)="verArtista( item )" *ngFor="let item of items">
        <img [src]="item.images | noimage" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text"><span class="badge badge-pill badge-primary" *ngFor="let artista of item.artists">{{artista.name}}</span></p>
        </div>
    </div>
</div>